.modal {
    display: none;
}

.modalable-image:hover .modal {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
}

.modalable-container {
  position: relative;
  width: 100%;
}
