
.me-container {
  margin: 0px 40px 10px 10px;
  padding-top: 10px;
}

.username {
   display: block;
   margin: 10px 10px 0px 10px;
   font-size: 1.80em;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
}

.full-name {
   display: block;
   margin: 0px 0px 10px 10px;
   font-size: 1.1em;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
}

.summary {
   display: block;
   margin: 10px;
   font-size: 1.2em;
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
}

.label {
  display: block;
  margin: 10px;
  font-size: 1.4em;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
